<div class="container" ng-controller="ProductsCtrl" ng-init="getProducts()">
  <br>
  <h1 class="text-center">{{title}}</h1>
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <label for="sel1">Filter by Country:</label>
        <select class="form-control" id="sel1" placeholder="Password" ng-model="search.store">
          <option>Finland</option>
          <option>Estonia</option>
        </select>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="sel1">Filter by Stock:</label>
        <select class="form-control" id="sel1" ng-model="search.instock">
          <option>True</option>
          <option>False</option>
        </select>
      </div>

    </div>
  </div>

  <div class="row">
    <div class=" col-xs-6 col-sm-3 py-2 " ng-repeat="(x,re) in res| filter:{instock:search.instock,store:search.store}">
      <div layout="column" style="margin:auto" class="card  border-primary ">
        <img class="card-img-top img-fluid" src="{{re.image}}" alt="Card image cap">
        <div class="card-body ">
          <h5 class="card-title">{{re.name}}</h5>
          <p class="card-text">{{ re.detail }}</p>
          <div> {{re.price|currency:"€" }}</div>
          <a href="#!/product-details/{{ re.id }}" class="btn btn-primary float-right">View details</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>