<div class="container" ng-controller="ProductDetailsCtrl"  >
  <br>
  <h1 class="text-center">{{title}}  </h1>
 <br><br>

  <div class="row" ng-init="viewProduct()">
      <div class=" col-xs-6 col-sm-6 py-2 ">
          <div class="card" style="width: 30rem;height:40rem">
              <img class="card-img-top" src="{{productDetails.image}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="font-weight-bold">{{productDetails.name}}</h5>
                <p class="card-text">{{productDetails.description}}</p>
                <div class="font-weight-bold">Price : {{productDetails.price|currency:"€" }}</div>
                <a href="#" class="btn btn-success float-right">Add to Cart</a>
              </div>
            </div>
      </div>
      <div class=" col-xs-6 col-sm-6 py-2 " ng-init="addItemToCart ()">
          <div class="card" style="width: 30rem;height:40rem">
              <img class="card-img-top" src="{{productDetails.image}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="font-weight-bold">{{productDetails.name}}</h5>
                <p class="card-text">{{productDetails.description}}</p>
                <div class="font-weight-bold">Price : {{productDetails.price|currency:"€" }}</div>
                <a href="#" class="btn btn-success float-right">Add to Cart</a>
              </div>
            </div>
      </div>
  
</div>
<br>
<a class="btn btn-primary" href="#!/products">Back to Store</a>
<div class="container" ng-init="addItemToCart()">
    <div >
      <h1>STORE</h1>
      <ul class="list-group text-center">
        <li class="col-xs-6 col-md-3 col-sm-3 col-lg-3 list-group-item">
          <figure>
            <img width="100" height="100" src="" />
            <figcaption>
                
                                <h3></h3>
            </figcaption>
          </figure>
          <input class="btn btn-success" type="button" value="BUY" ng-click="addItemToCart()" />
        </li>
      </ul>
      <div >
        <h1>CART-SHOW</h1>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="c in cart">
            <h4>                <span style="color:blue"> </span>
| </h4>
            <input class="btn btn-danger" type="button"  value="Remove" />
          </li>
        </ul>

       
      </div>
    </div>
  </div>